No:1. Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [8]:
exp=[2200,2350,2600,2130,2190]
print ("In Feb, how much extra was",exp[1]-exp[0])
print ("In Quarter 3 months total expense",exp[0]+exp[1]+exp[2])
print (2200 in exp)
exp.append(1090)
print ("expenses at the end of June",exp)
exp[3]=exp[3]-200
print ("expense after 200$",exp)

In Feb, how much extra was 150
In Quarter 3 months total expense 7150
True
expenses at the end of June [2200, 2350, 2600, 2130, 2190, 1090]
expense after 200$ [2200, 2350, 2600, 1930, 2190, 1090]

2.You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [19]:
heros=['spiderman','thor','hulk','ironman','captainamerica']
print (len(heros)) #Length of the list

heros.append('black panther')
print(heros)


heros.remove('black panther')
heros.insert(3,'black panther')
print (heros)

heros[1:3]=['doctor strange']
print(heros)


heros.sort()
print(heros)

5
['spiderman', 'thor', 'hulk', 'ironman', 'captainamerica', 'black panther']
['spiderman', 'thor', 'hulk', 'black panther', 'ironman', 'captainamerica']
['spiderman', 'doctor strange', 'black panther', 'ironman', 'captainamerica']
['black panther', 'captainamerica', 'doctor strange', 'ironman', 'spiderman']

3.Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [32]:
max = int(input("Enter the max number: "))

number = []
for i in range(1, max):
    if i % 2 == 1:
        number.append(i)

print(number)

Enter the max number: 10
[1, 3, 5, 7, 9]

In [25]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 10
Odd numbers:  [1, 3, 5, 7, 9]